/01. SERVER/WS_Eureka/dist/
/02. CLICON/WS_EurekaBank_SOAP_JAVA_ClienteConsola/build/
/02. CLICON/WS_EurekaBank_SOAP_JAVA_ClienteConsola/nbproject/private/
/02. CLICON/WS_EurekaBank_SOAP_JAVA_ClienteConsola/dist/
/02. CLIESC/WS_EurekaBank_SOAP_JAVA_ClienteEscritorio/build/
/02. CLIESC/WS_EurekaBank_SOAP_JAVA_ClienteEscritorio/nbproject/private/
/02. CLIESC/WS_EurekaBank_SOAP_JAVA_ClienteEscritorio/dist/
/02. CLIWEB/EurekaWebApp/build/
/02. CLIWEB/EurekaWebApp/nbproject/private/
/02. CLIWEB/EurekaWebApp/dist/